<div>
weather_data
{{dum(weather_data)}}
  <h2>Weather in {{ weather_data.name }}</h2>
  <p>Temperature: {{ weather_data.main.temp }} °C</p>
  <p>Humidity: {{ weather_data.main.humidity }}%</p>
  <p>Description: {{ weather_data.weather[0].description }}</p>
</div>