{# header.html.twig #}
<header class="site-header">
  <div class="header-wrapper">
    <div class="site-logo">
      <a href="{{ path('<front>') }}">
        <img src="{{ file_url(config('system.site')->get('logo')) }}" alt="{{ 'Site logo'|t }}">
      </a>
    </div>

    <nav class="main-navigation">
      <ul>
        <li><a href="{{ path('featured') }}">Featured</a></li>
        <li><a href="{{ path('recipes') }}">Recipes</a></li>
        <li><a href="{{ path('<front>') }}">Home</a></li>
      </ul>
    </nav>

    <div class="search-bar">
      <form action="{{ path('view.search_api_page.page_1') }}" method="get" class="search-form">
        <input type="text" name="search" placeholder="{{ 'Search Recipes...'|t }}" value="{{ search_query }}" />
        <button type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.742a6.5 6.5 0 1 0-1.396 1.396l4.198 4.197a1 1 0 1 0 1.414-1.414l-4.197-4.198zM12 6.5A5.5 5.5 0 1 1 6.5 12 5.5 5.5 0 0 1 12 6.5z"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
